<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title> DR3WH0 {% if page.title %} | {{ page.title }} {% endif %} </title>
  <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css" media="screen" charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
  <body>
    <div class="wrapper">
      <header>
        <h1>DR3WH0</h1>
        <h3>Time Travel and Other Anomalies</h3>

        <!--<h3>Contents</h3>
        <p class="view"><a href="/projects.html">Open Source Projects<small>Code that Might be Useful to You</small></a></p>
        <p class="view"><a href="/speaking.html">Talks I've Given<small>On Technologies and Ideas</small></a></p>-->

        <!--{% if page.repository_url %}
          <h3>Project Info</h3>
          <ul>
            {% if page.zip_url %}
              <li><a href="{{ page.zip_url }}">Download <strong>ZIP File</strong></a></li>
            {% endif %}
            {% if page.tar_url %}
              <li><a href="{{ page.tar_url }}">Download <strong>TAR Ball</strong></a></li>
            {% endif %}
            {% if page.gem_url %}
              <li><a href="{{ page.gem_url }}">Download <strong>Rubygem</strong></a></li>
            {% endif %}
            {% if page.issue_url %}
              <li><a href="{{ page.issue_url }}">Report<strong>An Issue</strong></a></li>
            {% endif %}
            {% if page.repository_url %}
              <li><a href="{{ page.repository_url }}">Fork On <strong>GitHub</strong></a></li>
            {% endif %}
          </ul>
        {% endif %}-->

        <p class="view"><a href="http://dr3wh0.tumblr.com/" target="tab">Tumblr<small>daily back yard</small></a>
        <p class="view"><a href="http://www.last.fm/user/DR3WH0" target="tab">Last.fm<small>some favorite tunes</small></a>

      </header>
      <section id="main">
        {{ content }}
      </section>
      <footer>
        <p>A site <a href="https://github.com/drewhop/drewhop.github.io">(source)</a> by <a href="http://andrewweidnerportfolio.weebly.com">Andrew Weidner</a></p>
        <p><small>Hosted on <a href="http://pages.github.com">GitHub Pages</a> &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
  </body>
</html>
