<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title> {% if page.title %} {{ page.title }} | {% endif %} DR3WH0 </title>
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" charset="utf-8"/>
  <!--<meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
</head>
  <body>
    <div class="wrapper">
      <header>
        <h1>DR3WH0</h1>
        <p>Time Travel and Other Interesting Anomalies</p>

        <!--<h3>The Goods</h3>
        <p class="view"><a href="/projects.html">Open Source Projects<small>Code that Might be Useful to You</small></a></p>
        <p class="view"><a href="/speaking.html">Talks I've Given<small>On Technologies and Ideas</small></a></p>

        {% if page.repository_url %}
          <h3>Project Info</h3>
          <ul>
            {% if page.zip_url %}
              <li><a href="{{ page.zip_url }}">Download <strong>ZIP File</strong></a></li>
            {% endif %}
            {% if page.tar_url %}
              <li><a href="{{ page.tar_url }}">Download <strong>TAR Ball</strong></a></li>
            {% endif %}
            {% if page.gem_url %}
              <li><a href="{{ page.gem_url }}">Download <strong>Rubygem</strong></a></li>
            {% endif %}
            {% if page.issue_url %}
              <li><a href="{{ page.issue_url }}">Report<strong>An Issue</strong></a></li>
            {% endif %}
            {% if page.repository_url %}
              <li><a href="{{ page.repository_url }}">Fork On <strong>GitHub</strong></a></li>
            {% endif %}
          </ul>
        {% endif %}

        <h3>Follow Me On</h3>
        <p class="view"><a href="https://github.com/atmos" target="tab">GitHub<small>If coding is your thing</small></a></li>
        <p class="view"><a href="https://twitter.com/atmos" target="tab">Twitter<small>If you tweet</small></a></li>
        <p class="view"><a href="http://tumblr.atmos.org" target="tab">Tumblr<small>If you're ADD</small></a></li>
        <p class="view"><a href="http://flickr.com/photos/atmos" target="tab">Flickr<small>If you like photos</small></a></li>-->

      </header>
      <section id="main">
        {{ content }}
      </section>
      <footer>
        <p>This is the site of Andrew Weidner</p>
        <p><small>Hosted on <a href="http://pages.github.com">GitHub Pages</a> &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
  </body>
</html>
