---
layout: default
---
{% include JB/setup %}

<article>
<h2>{{page.title}}</h2>
<hr/>

{% if page.description %}
<ul><h4>{{ page.description }}</h4></ul>
{% endif %}

{% include JB/setup %}
<ul class="tag_box inline">
  {% assign tags_list = page.tags %}  
  {% include JB/tags_list %}
</ul>

<hr/>

{{content}}
</article>

<!--
<ul class="unstyled tags">
  <h4>Tags: </h4>
    {% for tag in page.tags %}
      <span><a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag }}-ref">{{ tag }}</a>{% unless forloop.last %} | {% endunless %}</span>
    {% endfor %}
</ul>
-->
